{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "prettier"
  ],
  "globals": {
    "graphql": true
  },
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "arrow-body-style": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/accessible-emoji": 0,
    "jsx-a11y/label-has-for": 0,
    "operator-linebreak": 0,
    "anchor-is-valid": 0,
    "no-confusing-arrow": 0,
    "indent": 0,
    "max-len": 0,
    "react/no-danger": 0,
    "import/no-extraneous-dependencies": 0,
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}
